.users {
    top: 60px;
    background-color: whitesmoke;
    max-height: 100vh;
    padding: 40px;
    padding-top: 20px !important;
    padding-right: 60px !important;
}

.users > .MuiButton-root {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #6C63FF !important;
    height: 50px;
    padding: 15px;
    border-radius: 30px;
    transition: 0.5s ease-in-out all;
}

.users > .MuiButton-root:hover {
    transform: scale(1.05) !important;
}

.users__list {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    max-height: 100vh;
    overflow-y: scroll;
}

.users__listHeader {
    position: sticky;
}

.users__listRow:hover {
    background-color: whitesmoke;
    cursor: pointer;
}