.countdown {
    width: 80%;
    padding: 20px;
    height: 60%; 
    flex: 0.45 !important;
    min-width: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0, 0.12) !important;

}

.countdown__header {
    display: flex;
    flex-direction: column;
    color: #6C63FF;
}

.countdown__header > img {
    height: 100px;
    margin-bottom: 40px;
}